<div id="btn-category">
  <app-button-crud
    (create)="createOption()"
    (read)="readOption()"
    (delete)="deleteOption()"
  ></app-button-crud>
  <app-category-create
    *ngIf="showCreate"
    (createUpdate)="updateReadStatus()"
  ></app-category-create>
  <app-category-read
    *ngIf="showRead"
    [update]="updateCategories"
  ></app-category-read>
  <app-category-delete
    *ngIf="showDelete"
    (deleteUpdate)="updateReadStatus()"
    [update]="updateCategories"
  ></app-category-delete>
</div>
