<div class="container div-cards">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Category Management</h5>
          <p class="card-text">Here you can manage your Category.</p>
          <a href="#" class="btn btn-dark" (click)="manageCategory($event)"
            >Manage your Category</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Device Management</h5>
          <p class="card-text">Here you can manage your devices</p>
          <a href="#" class="btn btn-dark" (click)="manageDevices($event)"
            >Manage your devices</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
