<div class="container" id="delete-category">
  <form>
    <label for="exampleDataList" class="form-label">Categories to delete</label>
    <div class="input-group">
      <input
        class="form-control"
        list="datalistOptions"
        placeholder="Type to search your category ..."
        #deleteCategory
        required
      />
      <datalist id="datalistOptions">
        <option
          *ngFor="let category of categories"
          value="{{ category.name }}"
        ></option>
      </datalist>
    </div>
    <button
      type="submit"
      class="btn btn-dark mt-2"
      (click)="delete(deleteCategory.value); deleteCategory.value = ''"
    >
      Delete
    </button>
  </form>
</div>
