<div class="position-relative mg-bt-30" id="btn-device">
  <app-button-crud
    (create)="createOption()"
    (read)="readOption()"
  ></app-button-crud>
  <button
    type="button"
    class="btn btn-dark position-absolute top-10 end-20"
    (click)="createNewCategory($event)"
  >
    Create new category
  </button>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9">
        <app-device-create
          [@openClosed]
          *ngIf="showCreate"
          (createdUpdate)="updateReadStatus()"
        ></app-device-create>
      </div>
      <div class="col-12">
        <app-device-read
          [@openClosed]
          *ngIf="showRead"
          [update]="updateRead"
        ></app-device-read>
      </div>
    </div>
  </div>
</div>
